[Desktop Entry]
Type=Application
Name=dev
StartupWMClass=dev
Exec=kitty -1 --class "dev" --title "Neovim IDE" --working-directory="/home/me/github/SorbetofBeef" nvim -- ./
Icon=code
NoDisplay=true
