[Desktop Entry]
Type=Application
Name=dev
StartupWMClass=dev
Exec=kitty -1 --class "dev" --title "Neovim IDE" --working-directory="/home/me/github.com/SorbetofBeef" nvim "/home/me/github.com/SorbetofBeef/" 
Icon=code
NoDisplay=true
