[Desktop Entry]
Type=Application
Name=dev
StartupWMClass=dev
Exec=kitty -1 --class "dev" --title "Neovim IDE" --working-directory="/home/me/github/sorbetofbeef" nvim "/home/me/github/sorbetofbeef/"
Icon=code
Path=/home/me/github/sorbetofbeef/
Comment[en_US]=Neovim IDE
