[Desktop Entry]
Name=neovim
GenericName=Text Editor
Comment=Edit text files
Exec=kitty -1 --class "docs" --title "docs" --working-directory "/home/me/docs" nvim "/home/me/docs/"
Terminal=false
Type=Application
Keywords=Text;editor;
Icon=nvim
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Version=1.0
Name[en_US]=docs
