[Desktop Entry]
Name=sData
GenericName=Text Editor
Comment=Edit system data files
Exec=kitty -1  --class "settings" --working-directory="/usr/" doas nvim "/usr/" 
Terminal=false
Type=Application
Keywords=Text;editor;
Icon=org.gnome.Extensions
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Version=1.0
Name[en_US]=s-data
